/* Joey Figaro Project */

/* ••••• GENERAL ••••• */

body {
/*	margin-top: 50px;*/
	font-family: 'proxima-nova', 'Raleway', Helvetica, sans-serif;
	font-size: 16px;
	background: url('../img/tile.jpg') top left repeat;
}
section {
	padding-top: 50px;
}
/* ••••• navbar-container - A JOEY FIGARO PROJECT ••••• */
#navbar-container  {
	height: 700px;
	height: auto;
	width: 100%;
	color: #FFFFFF;
	background-color: red;
}

/* ••••• Section 01 - with_buddhi - A JOEY FIGARO PROJECT ••••• */
#with_buddhi {
/*	height: 700px;*/
	height: auto;
	width: 100%;
	color: #FFFFFF;
	background-color: #5CC7F6  ;
	text-align: center;
}
/* ••••• Section 02 - awesome_app - A JOEY FIGARO PROJECT ••••• */
#awesome_app {
/*	height: 500px;*/
	height: auto;
	width: 100%;
	background-color: #E8EAEB;
	text-align: center;
}
#awesome_app img {
	border-radius: 50%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}
#awesome_app hr {
    border: 2px solid;
}
/* ••••• Section 03 - project_mgt - A JOEY FIGARO PROJECT ••••• */
#project_mgt {
/*	height: 720px;*/
	height: auto;
	width: 100%;
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
}
/* ••••• Section 04 - track_all - A JOEY FIGARO PROJECT ••••• */
#track_all {
/*	height: 700px;*/
	height: auto;
	width: 100%;
	background-color: #E8F8F5;
	text-align: center;
}
/* ••••• Section 05 - app_screenshots - A JOEY FIGARO PROJECT ••••• */
#app_screenshots {
/*	height: 800px;*/
	height: auto;
	width: 100%;
	background-color: #FFFFFF;
	text-align: center;
}
/* ••••• Section 06 - services_to_support - A JOEY FIGARO PROJECT ••••• */
#services_to_support {
/*	height: 900px;*/
	height: auto;
	width: 100%;
	color: #FFFFFF;
	background-color: #000000;
}
/* ••••• Section 07 - utilized_and_loved - A JOEY FIGARO PROJECT ••••• */
#utilized_and_loved {
/*	height: 700px;*/
	height: auto;
	width: 100%;
	background-color: #FFFFFF;
	text-align: center;
	border-style: solid;
	border-bottom-color: #000000;
}
#utilized_and_loved img {
	border-radius: 50%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}
/* ••••• Section 08 - free_forever - A JOEY FIGARO PROJECT ••••• */
#free_forever {
/*	height: 700px;*/
	height: auto;
	width: 100%;
	background-color: #FFFFFF;
}
#free_forever_box {
	height: auto;
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid black;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
	text-align: center;
}
#logos {
        display: flex;
        flex-wrap: wrap;
}




/* ••••• Section 09 - maps_and_address - A JOEY FIGARO PROJECT ••••• */
#maps_and_address {
/*	height: 600px;*/
	height: auto;
	width: 100%;
	background-color: purple;
}

footer {
	background: #3e4249;
	color: white;
	padding: 20px 0 10px;
	font-size: 12px;
}

footer p {
	margin: 0;
}

footer a:link, footer a:visited {
	color: white;
}

footer a:hover {
	color: #dd5638;
}

footer li.signup-link a {
	color: #dd5638;
}

footer li.signup-link a:hover {
	font-weight: bold;
}







/* ==== MEDIA QUERIES ==== */

@media screen and (max-width : 991px) {
	#instructor .container {
		background: rgba(255,255,255,0.8);
		padding: 20px;
	}
}

@media screen and (max-width : 768px) {
	.logo {
		width: 50%;
	}

	#optin p {
		margin: 0 0 10px;
	}

	#featurette iframe {
		height: 240px;
	}

	.resource {
		width: 48%;
		margin-right: 2%;
	}
}

@media screen and (max-width : 568px) {
	#instructor .num {
		height: 100px;
		width: 100px;
		font-size: 22px;
	}

	#instructor .num span {
		font-size: 16px;
	}

	.resource {
		width: 100%;
		margin-right: 0;
	}
}